body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-left: 220px;
  }
  
  .co_score {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 10px;
  }
  
  .user-score {
      font-size: 18px;
      font-weight: 600;
      margin-left: 10px; /* Espace entre l'image et le score */
      margin-right: 100px;
  }
  
  .dia_img {
      width: 30px;
  }
  ::after, *::before {
    box-sizing: border-box;
  }
  
  
        /* Style the button */
        #helpBtn {
          background-color: #6DB543;
          color: white;
          padding: 10px 20px;
          width:80px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;
  
      }
  
      /* Style the button */
      .learn-more-btn {
          background-color: #1679AB;
          color: white;
          padding: 1px 2px;
          width: 80px;
          border: none;
          width: 80px;
          height: 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 10px;
         
      }
  
      /* The Popup (hidden by default) */
      .popup {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.4);
          padding-top: 60px;
      }
  
      /* Popup Content */
      .popup-content {
          background-color: #fefefe;
          margin: 5% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
          max-width: 500px;
          border-radius: 10px;
          z-index: 1;
      }
  
      .popup-content h2 {
          text-align: center;
          font-weight: bold;
      }
  
      .popup-content p {
          text-align: justify;
          font-family: Arial, Helvetica, sans-serif;
      }
  
      /* Close Button */
      .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }
  
      .close:hover,
      .close:focus {
          color: rgb(75, 0, 0);
          text-decoration: none;
          cursor: pointer;
      }
  
      .wrapper {
          margin: auto;
          max-width: 1300px;
          width: 100%;
          margin-top: 50px;
          position: relative; /* Position relative pour gérer les cellules draggable */
      }
  
      .bmc {
          display: grid;
          grid: repeat(3, 200px) / repeat(10, 1fr);
          gap: 10px;
          position: relative; /* Position relative pour gérer les cellules draggable */
      }
  
      .bmc,
      .bmc > div {
          border: 1px solid;
          background: #fff;
      }
  
      .bmc > div {
          display: grid;
          position: relative;
          gap: 10px;
          grid-template-rows: 30px;
          grid-auto-rows: 65px;
          padding: 8px;
      }
  
      .bmc > div:nth-child(8),
      .bmc > div:nth-child(9) {
          grid: 30px / repeat(5, 1fr);
      }
  
      .bmc > div:nth-child(8) h3,
      .bmc > div:nth-child(9) h3 {
          grid-column: 1 / -1;
      }
  
      .bmc > div:nth-child(8) .note,
      .bmc > div:nth-child(9) .note {
          grid-column: span 2;
      }
  
      .bmc h3 {
          margin: 0;
          font-size: 14px;
          color: #5b5b5b;
      }
  
      .bmc > div:nth-child(1),
      .bmc > div:nth-child(4),
      .bmc > div:nth-child(7) {
          grid-area: span 2 / span 2;
      }
  
      .bmc > div:nth-child(2),
      .bmc > div:nth-child(5) {
          grid-column: span 2;
      }
  
      .bmc > div:nth-child(3) {
          grid-column: 3 / span 2;
          grid-row: 2;
      }
  
      .bmc > div:nth-child(6) {
          grid-column: 7 / span 2;
          grid-row: 2;
      }
  
      .bmc > div:nth-child(8),
      .bmc > div:nth-child(9) {
          grid-area: -2 / span 5;
      }
  
      .draggable {
          cursor: move;
          height: 138px;
          width: 155px;
          margin: 10px;
          user-select: none;
          border: 1px solid #ccc;
          border-radius: 10px;
          background: #f9f9f9;
          padding: 10px;
          text-align: center;
      }
  
      .draggable-container {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
      }
      .draggable-container h3 {
          
        font-size: 13px;
      }
     
      

      
      .draggable-column {
          display: flex;
          flex-direction: column;
          gap: 10px;
      }
  
      * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
      }
  
      html, body {
          height: 100%;
      }
  
      h1, h2, h3, h4 {
          margin: .3em 0;
      }
  
      ul {
          padding: 0;
          list-style: none;
      }
  
      img {
          vertical-align: middle;
          height: auto;
          width: 100%;
      }
  
      .submit {
        justify-content: center;
          text-align: center;
          margin-bottom: 0px;
      }
  
      .submit-button {
          background-color: #ffd700;
          border: none;
          padding: 15px 50px;
          font-size: 16px;
          font-weight: bold;
          color: #000;
          border-radius: 25px;
          cursor: pointer;
          width: 150px;
          display: inline-flex;
          align-items: center;
          margin-top: 20px;
          justify-content:center;
          margin-left: 700px;
      }
  
      .submit-button:hover {
          background-color: #ffcc00;
      }

      .correct-drop {
        background-color: lightgreen !important; /* Utilisation de !important pour s'assurer que la couleur s'applique */
        transition: background-color 1s ease;
    }
    
    .incorrect-drop {
        background-color: lightcoral !important;
        transition: background-color 1s ease;
    }