body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
}

#content {
    display: flex;
    margin-top: 0px;
    margin-left: 200px;
}
#left {
    flex: 1;
    padding-right: 20px;
    margin-top: 0px;
    margin : 10%;
    margin-right : 10px;
    max-width: 50%;
    margin-left: 20px;
}

#left h1 {
    color: black;
    font-size: 30px;
    color:#13538A;
    text-transform: uppercase;
}
#left h3 {
    font-size: 20px; 
    text-decoration: underline;

}
ul{
    list-style-type: circle;
    list-style-type: circle;
}
#right img {
    width: 600px;
    height: auto;
    margin-right : 100px;
    
}
.conteneur {
    text-align: center;
  }
.start_level_btn{ 
    background-color: #f7c33d;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius:  30px;
    width:130px;
    height:50px;
    text-align:center;
    margin-bottom: 20px;;
    }
.start_level_btn:hover {
    background-color: #e5b02e;
     /* Changement de couleur au survol du bouton */
}