.container {
    margin-left: 200px;
    margin-top: -10px;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -35px;
}

.idea-details {
    background-color: #bee0ff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 1050px;
    height:620px;
    position: relative;
}

.img_mo {
    width: 150px;
    margin-bottom: 20px;
}

.idea-details h1 {
    color: #343a40;
    font-size: 36px;
    margin-bottom: 20px;
}

.idea-details h3 {
    color: #343a40;
    font-size: 28px;
    margin-bottom: 15px;
}

.idea-details p {
    color: #343a40;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.submitted-by {
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
}

.comment-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}

.comment-button:hover {
    background-color: #218838;
}
.co_score {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.user-score {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px; /* Espace entre l'image et le score */
    margin-right: 20px;
}

.dia_img {
    width: 30px;
}
.comment-button.claim-button {
    background-color: #ffc107;
    color: #343a40;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 70px; /* Ajustez la position verticale selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
}

.comment-button.claim-button:hover {
    background-color: #ffa000;
}
