/* Contenu du fichier custom.css */

/* Styles pour le corps de la page */
.img_logo img {
    width: 60px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
}
/* Styles pour le conteneur principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.fill-current {
    fill: #6b7280;
}

/* Styles pour le formulaire */
.container1 {
    background-color: #ffffff;
    width: 400px;
    pointer-events: auto;
}

.shadow-md {
    box-shadow: 0 6px 9px rgba(65, 18, 142, 0.1);
}

.overflow-hidden {
    overflow: hidden;
}

.sm\:max-w-md {
    max-width: 24rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.liste_element{
    list-style-type: none;
    padding-left: 10px;
    color:#ff0000;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sm\:rounded-lg {
    border-radius: 0.5rem;
}

/* Styles pour les liens */
a {
    color: #4b5563;
    text-decoration: none;
}

a:hover {
    color: #6b7280;
}
/* Nouveau contenu du fichier custom2.css */

/* Styles pour le formulaire de connexion */
.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-label {
    font-size: 16px;
    font-weight: bold;
}

.text-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input-error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}

.checkbox-label {
    font-size: 14px;
    color: #333;
}


.ms-3,
.ms-4{
    width: 100%;
    padding: 12px;
    background-color: #5960f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.ms-3:hover,
.ms-4:hover {
    background-color: rgb(28, 89, 154);
}

.forgot-password {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-decoration: underline;
}

.forgot-password:hover {
    color: #000;
}
.text_input{
    width: 360px;
    height: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input_label{
    height :20px;
    width: 60px; 
}
.error_mess{
    text-align: center;
}
.confirm_password{
    margin-bottom: -17px;
}

.reset_btn{
    margin-top: 20px;
}

.status,
.mb-4{
    text-align: center;
}