* {
    margin: 0;
    padding: 0;
    font-family: 'Popping', sans-serif;
    box-sizing: border-box;
}

.content {
    /* Add some padding to the content area */
    padding: 20px;
    
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;

    padding-bottom: 30px;
    
}


.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

/* Media queries */

/* For screens smaller than 768px (tablets and mobile devices) */
@media (max-width: 768px) {
    .app {
        width: 80%;
        margin: 50px auto 0;
        padding: 20px;
    }
    .quiz h2 {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
        padding: 8px;
        margin: 8px 0;
    }
    #next-btn {
        width: 120px;
        padding: 8px;
        margin: 15px auto 0;
    }
}
.timer {
    font-size: 18px;
    font-weight: bold;
    color: #ff6347; /* Tomato color */
    background-color: #f0f0f0; /* Light gray background */
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    margin-top:-50px;
    margin-bottom: 40px;
    margin-left: 400px;
    width: 150px;
    display: inline-block;
}

/* For screens smaller than 480px (small mobile devices) */
@media (max-width: 480px) {
    .app {
        width: 90%;
        margin: 30px auto 0;
        padding: 15px;
    }
    .quiz h2 {
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
        padding: 6px;
        margin: 6px 0;
    }
    #next-btn {
        width: 100px;
        padding: 6px;
        margin: 10px auto 0;
    }
}