* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.nav1{
    
    position:fixed;
    top:0;
    background-color:#5398D4;
    bottom: 0;
    height:100%;
    left:0;
    width: 200px;
    transition: width 0.2s linear;
}
.logo{
    text-align:-50px;
    display: flex;
    transition: all 0.5s ease;
    margin: 80px  0 0 5px;
    width:170px;
    margin-top: 0%;
    margin-bottom: 50%;


}

.logo span{
    font-weight: bold;
    padding-left:15px ;
    font-size: 18px;
    text-transform: uppercase;

}
.a_nav{
    position: relative;
    color:rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 200px;
    padding: 10px;
}
.fas{
    position: relative;
    width:70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align:center ;
    color: aliceblue;

}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: rgb(233, 234, 235);
}

.levels{
position: relative;
margin-left: 250px;


}
li{
   margin-top: -7%;

   
}
.levels {
    display: inline-block;
    width: 45%;
  }
  
  .py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .max-w-7xl {
    max-width: 80rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .level_title_{
    color: white;
    font-weight: bold;
    font-size: 20px;
  }

  .bg-white1 {
    background-color: #13538A;
    cursor: pointer;
  }
  .bg-white2 {
    background-color: #1C66A4;
    cursor: pointer;
  }
  .bg-white3 {
    background-color: #377CB8;
    cursor: pointer;
  }
  .bg-white4 {
    background-color: #5398D4;
    cursor: pointer;
  } 
  .overflow-hidden {
    overflow: hidden;
  }
  
  .shadow-sm {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .sm\:rounded-lg {
    border-radius: 7rem;
  }
  
  .p-6 {
    padding: 1.5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .w-12 {
    width: 3rem;
  }
  
  .h-12 {
    height: 3rem;
  }
  
  .mr-4 {
    margin-right: 1rem;
  }
  
  .text-black {
    color: #ffffff;
    
  }
